.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    margin: 10px;
    border-radius: 6px;
    width: 100%;
}

.left-side {
    width: 60%;
    font-size: 3rem;
}

.right-side {
    width: 40%;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
}
.right-side img{
    border-radius: 20px;
}